{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}

    <button>{{ 'btn.go'|trans }}</button>

    <a href="">{{ 'btn.click'|trans }}</a>

    {{ 'notes.do_not_click'|trans }}

    <h1>{{ 'result.not_found'|trans }}</h1>

    {{ 'name.test'|trans }}

{% endblock %}
